@page "/apparelTypes/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">List of ApparelTypes</h3>
<br />
<br />
@if (ApparelTypes == null)
{
    <div class="alert alert-info">Loading apparelTypes...</div>
}
else
{
    <table class="table ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apparelType in ApparelTypes)
            {
                <tr>
                    <td>@apparelType.Name</td>

                    <td>
                        <a href="/apparelTypes/view/@apparelType.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/apparelTypes/edit/@apparelType.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(apparelType.Id))">
                            <span class="oi oi-delete"></span>
                        </button>

                    </td>
                </tr>

            }
        </tbody>
    </table>
}


@code {
    private List<ApparelType> ApparelTypes;

    protected async override Task OnInitializedAsync()
    {
        ApparelTypes = await _client.GetFromJsonAsync<List<ApparelType>>($"{Endpoints.ApparelTypesEndpoint}");
    }

    async Task Delete(int apparelTypesId)
    {
        var apparelTypes = ApparelTypes.First(q => q.Id == apparelTypesId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {apparelTypes.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ApparelTypesEndpoint}/{apparelTypesId}");
            await OnInitializedAsync();
        }

    }
}
