@page "/wearings/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Wearing</h3>

<hr />
<br />

<FormComponent ButtonText="Create Wearing" OnValidSubmit="@CreateWearing" wearing="wearing" />

@code {
    Wearing wearing = new Wearing
    {
        DateOut = DateTime.Now.Date
    };


    private async Task CreateWearing()
    {
        await _client.PostAsJsonAsync(Endpoints.WearingsEndpoint, wearing);
        _navManager.NavigateTo("/wearings/");
    }

}