@page "/aitems/edit/{id:int}"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit</h3>

<FormComponent ButtonText="Update" OnValidSubmit="@EditAitem" atype="aitem" />

@code {
    [Parameter] public int id { get; set; }

    Aitem aitem = new Aitem();

    protected async override Task OnParametersSetAsync()
    {
        aitem = await _client.GetFromJsonAsync<Aitem>($"{Endpoints.AitemsEndpoint}/{id}");
    }

    async Task EditAitem()
    {
        await _client.PutAsJsonAsync($"{Endpoints.AitemsEndpoint}/{id}", aitem);
        _navManager.NavigateTo("/aitems/");
    }

}
