@page "/sizes/create/"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Size</h3>
<hr />
<br />

<FormComponent ButtonText="Create Size" OnValidSubmit="@CreateSize" size="size" />

@code {
    Size size = new Size();


    protected async override Task OnInitializedAsync()
    {

    }

    private async Task CreateSize()
    {
        await _client.PostAsJsonAsync(Endpoints.SizesEndpoint, size);
        _navManager.NavigateTo("/sizes/");
    }

}