@page "/apparelItems/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">List of ApparelItems</h3>
<br />
<br />
@if (ApparelItems == null)
{
    <div class="alert alert-info">Loading apparelItems...</div>
}
else
{
    <table class="table ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apparelItem in ApparelItems)
            {
                <tr>
                    <td>@apparelItem.ShortDesc</td>

                    <td>
                        <a href="/apparelItems/view/@apparelItem.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/apparelItems/edit/@apparelItem.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(apparelItem.Id))">
                            <span class="oi oi-delete"></span>
                        </button>

                    </td>
                </tr>

            }
        </tbody>
    </table>
}


@code {
    private List<ApparelItem> ApparelItems;

    protected async override Task OnInitializedAsync()
    {
        ApparelItems = await _client.GetFromJsonAsync<List<ApparelItem>>($"{Endpoints.ApparelItemsEndpoint}");
    }

    async Task Delete(int apparelItemsId)
    {
        var apparelItems = ApparelItems.First(q => q.Id == apparelItemsId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {apparelItems.ShortDesc}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ApparelItemsEndpoint}/{apparelItemsId}");
            await OnInitializedAsync();
        }

    }
}
